<!DOCTYPE html>
<html lang="en" ng-app="wonderApp">

<head>
  <!-- Required meta tags always come first -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="HandheldFriendly" content="true" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="white" />
  <meta name="apple-mobile-web-app-title" content="7 Wonders">

  <!-- Favicons -->
  <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
  <link rel="icon" href="img/favicon.ico">

  <!-- Debug, no cache -->
  <meta http-equiv="cache-control" content="max-age=0" />
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="expires" content="0" />
  <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
  <meta http-equiv="pragma" content="no-cache" />

  <title>7 Wonders</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="css/layout.min.css">
</head>

<body ng-controller="wonderCtrl" ng-class="{'menu-open': isOpen}">
  <div class="bar bar-header">
    <button class="btn icon ion-ios-arrow-back btn-clear" ng-click="previousView()" ng-class="{'hide': previousPath.length <= 1}">
      Back
    </button>
    <h1 class="title app-title">7 Wonders</h1>
    <button class="btn btn-clear icon ion-compose"></button>
  </div>

  <div class="container" ng-view>
  </div>

  <div class="bar bar-footer">
    <div class="bar-icons">
      <a class="bar-icon" href="#" ng-click="changeView('/score')" ng-class="{'active': activePath.substr(1) == 'score'}">
        <i class="icon ion-trophy"></i>
      </a>
      <a class="bar-icon" href="#" ng-click="changeView('/players')" ng-class="{'active': activePath.substr(1) == 'players'}">
        <i class="icon ion-person-stalker"></i>
      </a>
      <a class="bar-icon" href="#" ng-click="changeView('/statistics')" ng-class="{'active': activePath.substr(1) == 'statistics'}">
        <i class="icon ion-stats-bars"></i>
      </a>
    </div>
  </div>







  <!--
  <div class="container">
    <div class="row">
      <div class="col-xs-12 score">
        <div class="table-responsive">
          <table class="table table-score">
            <colgroup>
              <col width="37px" />
            </colgroup>
            <thead>
              <tr>
                <th></th>
                <th ng-repeat="(key, value) in players">{{key}}</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="category in categories" ng-class="category.name">
                <td class="{{category.icon}}"></td>
                <td ng-repeat="player in players" ng-click="editScore(category.name, player)">{{player[category.name]}}</td>
              </tr>
              <tr class="score">
                <td><span class="ion-ribbon-a"></span></td>
                <td ng-repeat="player in players" ng-bind="calcTotal(player)"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <button class="btn btn-primary btn-block">Spiel werten</button>
    </div>

    <div class="controls" ng-class="{'open': controls.open}">
      <div ng-class="controls.background">
        <div class="input">
          <span class="ion-minus" ng-click="switchSign()" ng-class="{'inactive': !controls.negative}" ng-show="['military', 'money'].indexOf(controls.category) !== -1"></span> {{controls.value}}
        </div>
        <ul class="nav nav-select-player">
          <li>
            <a><span class="ion-arrow-left-b"></span></a>
          </li>
          <li>
            <a><span class="ion-arrow-up-b"></span></a>
          </li>
          <li>
            <a><span class="ion-arrow-down-b"></span></a>
          </li>
          <li>
            <a><span class="ion-arrow-right-b"></span></a>
          </li>
        </ul>
        <table class="table">
          <tr>
            <td ng-click="editValue(1)">1</td>
            <td ng-click="editValue(2)">2</td>
            <td ng-click="editValue(3)">3</td>
          </tr>
          <tr>
            <td ng-click="editValue(4)">4</td>
            <td ng-click="editValue(5)">5</td>
            <td ng-click="editValue(6)">6</td>
          </tr>
          <tr>
            <td ng-click="editValue(7)">7</td>
            <td ng-click="editValue(8)">8</td>
            <td ng-click="editValue(9)">9</td>
          </tr>
          <tr>
            <td ng-click="clearValue()"><span class="ion-edit"></span></td>
            <td ng-click="editValue(0)">0</td>
            <td ng-click="closeControls()"><span class="ion-chevron-down"></span></td>
          </tr>
        </table>

      </div>
    </div>

  </div>
  -->

  <!-- jQuery first, then Bootstrap JS. -->
  <script src="js/jquery.min.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/script.min.js"></script>
</body>

</html>
