.category--wonder {
  background-color: #ad755a !important;
  color: #000 !important;
}
.category--coins {
  background-color: #ffdd9d !important;
  color: #000 !important;
}
.category--military {
  background-color: #e4555a !important;
  color: #000 !important;
}
.category--civic {
  background-color: #409acb !important;
  color: #000 !important;
}
.category--commercial {
  background-color: #fac153 !important;
  color: #000 !important;
}
.category--scientific {
  background-color: #40ac78 !important;
  color: #fff !important;
}
.category--guilds {
  background-color: #8b77a6 !important;
  color: #000 !important;
}
.category--city {
  background-color: #666666 !important;
  color: #fff !important;
}
.category--leader {
  background-color: #f2f2f2 !important;
  color: #000 !important;
}
.category--tower {
  background-color: #fff !important;
  color: #000 !important;
}
.category--navy {
  background-color: #fff !important;
  color: #000 !important;
}
.category--island {
  background-color: #fff !important;
  color: #000 !important;
}
.category--total {
  background-color: #fff !important;
  color: #000 !important;
}
