@import './variables';

.el-card > .list-group {
  border-top: inherit;
  border-bottom: inherit;
}
.list-group-flush {
  border-radius: 0;
}
.list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  border-radius: 0.25rem;
}

.list-group-flush > .list-group-item {
  border-width: 0 0 1px;
  &:last-child {
    border: 0;
  }
}
.list-group-item:first-child {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
.list-group-item {
  position: relative;
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border: 1px solid $--card-border-color;
}
