$--color-primary: #d97706;
$--font-path: '~element-plus/lib/theme-chalk/fonts';

$--z-index-empty: 10;
$--z-index-bg-shadow: 15;
$--z-index-bottom-sheet: 20;
$--body-bg: #fff;
$--body-color: #2c3e50;

@import '~element-plus/packages/theme-chalk/src/common/var.scss';
