@import './variables';
@import '~element-plus/packages/theme-chalk/src/index.scss';

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  color: #2c3e50;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}
html,
body,
#app,
#app > .el-container {
  position: fixed;
  top: -0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  overscroll-behavior-y: none;
}

.el-header {
  padding: 0;
  border-bottom: $--border-base;
}
.el-main {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}
.el-footer {
  padding: 0;
  border-top: $--border-base;
}

.text-secondary {
  color: $--color-text-secondary !important;
}

.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
