@import './variables';
@import '~element-plus/packages/theme-chalk/src/index.scss';

// Components
@import './list-group';

body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  color: $--body-color;
  background-color: $--body-bg;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#app,
#app > .el-container {
  // iOS scroll bounce fix ----
  position: fixed;
  top: -0px;
  overscroll-behavior-y: none;
  // --------------------------
  height: 100%;
  width: 100%;
  overflow: hidden;
}

kbd {
  padding: 0.2rem 0.4rem;
  font-size: 0.875em;
  color: #fff;
  background-color: #212529;
  border-radius: 0.2rem;
}

hr {
  border-top: 1px solid $--border-color-light;
}

.el-header {
  padding: 0;
  border-top: $--border-base;
  border-bottom: $--border-base;
}
.el-main {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}
.el-footer {
  padding: 0;
  border-top: $--border-base;
}

.text-secondary {
  color: $--color-text-secondary !important;
}

.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.el-overlay {
  display: flex;
  align-items: center;
}
.el-message-box {
  margin: 1rem;

  &__btns {
    display: flex;
    flex-direction: column;
    flex-flow: column-reverse;
    padding: 0;
    button.el-button {
      flex: 1 1 100%;
      margin-top: 10px;
      margin-left: 0;
      border-radius: 0;
    }
    .el-button:not(.el-button--primary) {
      border: 0;
      color: $--color-primary;
    }
  }
}
