@import './variables';
@import '~element-plus/packages/theme-chalk/src/index.scss';

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  color: #2c3e50;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}
html,
body,
#app,
.el-container {
  height: 100%;
  overflow-y: hidden;
}

.el-header {
  padding: 0;
  border-bottom: $--border-base;
}
.el-main {
  overflow-y: auto;
}
.el-footer {
  padding: 0;
  border-top: $--border-base;
}
