.item-input {
  > input {
    display: block;
    width: 100%;
    padding-top: 2px;
    padding-left: 0;
    height: 34px;
    color: #111;
    vertical-align: middle;
    border: 0 none;
    border-bottom: 1px solid #b2b2b2;
    border-radius: 0;
    font-size: 16px;
    line-height: 16px;
    @include transition(border-color, .3s);
    &:focus { border-color: $bg-primary; }
  }
  > .input-label {
    display: block;
    width: 100%;
    color: #666;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: -1px;
  }
}

//label {
//  border-bottom: 1px solid #b2b2b2;
//}
//.item-input input {
//  -webkit-border-radius: 0;
//  border-radius: 0;
//  -webkit-box-flex: 1;
//  -webkit-flex: 1 220px;
//  -moz-box-flex: 1;
//  -moz-flex: 1 220px;
//  -ms-flex: 1 220px;
//  flex: 1 220px;
//  -webkit-appearance: none;
//  -moz-appearance: none;
//  appearance: none;
//  margin: 0;
//  padding-right: 24px;
//  background-color: transparent;
//  &:focus + .input-label { color: $bg-primary; }
//}
//.input-label {
//  display: table;
//  max-width: 200px;
//  width: 35%;
//  color: #666;
//  font-size: 16px;
//  text-transform: uppercase;
//  letter-spacing: .9;
//}
