.keyboard-spacer {
  padding-bottom: 0;
  @include transition(padding, .3s);
}


.keyboard {
  position: fixed;
  bottom: 0; left: 0; right: 0;
  background-color: #fff;
  text-align: center;
  transform: translateY(251px);
  @include transition(transform, .3s);
  z-index: 100;

  .input {
    padding: 15px;
    border-top: 1px solid #ddd;
    background-color: #fff;
    font-size: 30px;
    color: #333;

    .switch-sign {
      position: absolute;
      display: inline-block;
      top: 0;
      left: 0;
      height: 67px;
      padding: 17px 18.5px;
      color: #000;
      @include transition(color, .3s);
      &.inactive { color: #999; }
    }

    .next {
      position: absolute;
      display: inline-block;
      top: 0;
      right: 0;
      height: 67px;
      padding: 27px 25px;
      color: #777;
      font-size: 14px;
    }
  }

  .table {
    margin-bottom: 0;
    font-size: 16px;
  }
}

.keyboard-research {
  td.img-cell {
    padding: 0;
  }
  img {
    width: 39px;
    height: 39px;
    padding: 0;
    margin: 0;
  }
}

&.keyboard-spacer.open { padding-bottom: 202px; }
&.keyboard.open { transform: translateY(0px); }
