.list {
  width: calc(100% + 16px);
  margin: 0 -8px;
  padding-left: 0;
  list-style-type: none;
  > li:first-child .item:not(.btn) {
    border-top: 1px solid #b2b2b2;
  }
  > li > .item:not(.btn) {
    border-bottom: 1px solid #b2b2b2;
  }
  > li > .item {
    position: relative;
    display: block;
    padding: 10px 15px;
    font-size: 16px;
    border-bottom: 1px solid #b2b2b2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;


    > .icon {
      position: absolute;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      align-items: center;
      position: absolute;
      top: 0;
      width: 53px;
      height: 100%;
      padding-top: 5px;
      font-size: 24px;
      text-align: center;
    }
    &.btn {
      padding: 0 12px;
      &.btn-block {
        width: 100%;
        margin: 5px 0;
      }
      > .icon { padding-top: 1px; }
    }

    //Inputs
    &.item-input {
      padding: 0;
      cursor: pointer;
      .btn-add {
        color: #fff;
        &:before {
          background-color: $bg-success;
          width: 24px;
          border-radius: 50%;
        }
      }
      input {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 4px;
        padding-top: 8px;
        height: 42px;
        border: 0 none;
        z-index: 100;
      }
    }

    //Helper
    &.icon-left {
      padding-left: 54px;
      > .icon:before { line-height: 1; }
      > .icon:first-child { left: 0; }
      > input { padding-left: 0; }
    }
    &.icon-right {
      padding-right: 54px;
      > .icon:before { line-height: 1; }
      > .icon:last-child { right: 0; }
      > input { padding-right: 0; }
    }
    &.icon-double-right {
      padding-right: 108;
      > .icon:before { line-height: 1; }
      > .icon:nth-last-child(2) { right: 54px; }
      > .icon:last-child { right: 0; }
      > input { padding-right: 0; }
    }
  }

  > li > .item-double {
    .icon { padding-top: 14px; }
  }
}

.list + .list { margin-top: 5px; }



//Own CSS
.item small {
  display: block;
  color: #999;
  font-size: 14px;
}
