.table-responsive { border: 0 none; }

.table-score {
  padding: 0;

  caption { padding: 0 15px; }

  th, td {
    & + th,
    & + td {
      min-width: 80px;
      text-align: center;
      border-right: 0 none;
    }
  }

  > tbody > tr > th {
    font-size: 24px;
    padding: 6px 12px 5px;
  }
}

@include score-rows($score-map);
