@import "../node_modules/ionicons/scss/ionicons";


@import "variables";
@import "mixins";
@import "btn";
@import "input";
@import "nav";
@import "list";
@import "table";

@import "score";

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 47px 0;
  font-family: "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
}

a, button, :focus, a:focus, button:focus, a:active, a:hover {
  outline: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}




//Layout
.container {
  padding-left: 8px;
  padding-right: 8px;
}

.container:after,
.container:before {
  display: table;
  content: " ";
}




//HELPER
.text-primary { color: $bg-primary; }
.text-success { color: $bg-success; }
.text-error { color: $bg-error; }
.text-warning { color: $bg-warning; }
.text-dark { color: $bg-dark; }

.hide { display: none !important; }
