@import "../node_modules/ionicons/scss/ionicons";


@import "variables";
@import "mixins";
@import "nav";
@import "btn";

@import "score";

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 47px 0;
  font-family: "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
}

a, button, :focus, a:focus, button:focus, a:active, a:hover {
  outline: 0;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  border: 0;
  border-bottom: 1px solid #b2b2b2;
  display: block;
  padding-top: 2px;
  padding-left: 0;
  height: 34px;
  color: #111;
  vertical-align: middle;
  font-size: 14px;
  line-height: 16px;
  @include transition(border-color, .3s);
  &:focus { border-color: $bg-primary; }
}

//HELPER
.text-primary { color: $bg-primary; }
.text-success { color: $bg-success; }
.text-error { color: $bg-error; }
.text-warning { color: $bg-warning; }
.text-dark { color: $bg-dark; }

.hide { display: none !important; }

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  padding: 12px;
}
