<h3>Mitspieler</h3>

<ul class="list">
  <li ng-repeat="(player, obj) in $parent.players" class="player">
    <a data-target="{{player | lowercase}}" class="item item-double icon-left icon-double-right">
      <i class="ion-drag icon"></i>
      {{player}}
      <small>{{obj.wonder}}</small>
      <i class="ion-ios-shuffle icon" ng-click="rerollWonder(player)"></i>
      <i class="ion-ios-trash-outline icon" ng-click="deletePlayer(player)"></i>
    </a>
  </li>
</ul>
<ul class="list">
  <li>
    <label class="item item-input">
      <span class="input-label">Name:</span>
      <input type="text" ng-model="newPlayerName" ng-pattern="word">
    </label>
  </li>
  <li>
    <a class="item btn btn-primary btn-block icon-left" ng-click="addPlayer()">
      <i class="icon ion-ios-personadd"></i>
      Mitspieler hinzufügen
    </a>
  </li>
</ul>
