<div class="table-responsive" ng-hide="players.length == 0">
  <table class="table table-score">
    <colgroup>
      <col width="37px" />
    </colgroup>
    <thead>
      <tr>
        <th></th>
        <th ng-repeat="player in players">{{player.name}}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="category in categories" ng-class="category.name">
        <th><i class="{{category.icon}}"></i></th>
        <td ng-repeat="player in players" ng-click="editScore(category.name, player.score)">{{player.score[category.name]}}</td>
      </tr>
      <tr class="score">
        <th><i class="ion-ribbon-a"></i></th>
        <td ng-repeat="player in players" ng-bind="calcTotal(player.score)"></td>
      </tr>
    </tbody>
  </table>
</div>

<a class="btn btn-primary btn-block icon-left">
  <i class="icon ion-clipboard"></i>
  Spiel werten
</a>

<div class="keyboard-spacer" ng-class="{'keyboard-open': keyboard.open}"></div>
<div class="keyboard" ng-class="{'keyboard-open': keyboard.open}">
  <div ng-class="keyboard.background">
    <div class="input">
      <i class="ion-minus switch-sign" ng-click="keyboard.switchSign()" ng-class="{'inactive': !keyboard.negative}" ng-show="['military', 'money'].indexOf(keyboard.category) !== -1"></i> {{keyboard.value}}
    </div>
    <table class="table">
      <tr>
        <td ng-click="editValue(1)">1</td>
        <td ng-click="editValue(2)">2</td>
        <td ng-click="editValue(3)">3</td>
      </tr>
      <tr>
        <td ng-click="editValue(4)">4</td>
        <td ng-click="editValue(5)">5</td>
        <td ng-click="editValue(6)">6</td>
      </tr>
      <tr>
        <td ng-click="editValue(7)">7</td>
        <td ng-click="editValue(8)">8</td>
        <td ng-click="editValue(9)">9</td>
      </tr>
      <tr>
        <td ng-click="closekeyboard()"><i class="ion-chevron-down"></i></td>
        <td ng-click="editValue(0)">0</td>
        <td ng-click="clearValue()"><i class="ion-backspace-outline"></i></td>
      </tr>
    </table>
  </div>
</div>
