<ul class="list">
  <li>
    <a class="item header header-flush">
      Mein Account
    </a>
  </li>
  <li>
    <a class="item profile-picture">
      <img src="img/dummy.jpg" />
    </a>
  </li>
  <li>
    <a class="item icon-right">
      Name
      <span class="preview">Testi</span>
    </a>
  </li>
  <li>
    <a class="item icon-right">
      Passwort
      <i class="icon ion-ios-arrow-right"></i>
    </a>
  </li>
  <li>
    <a class="item icon-right">
      Email
      <span class="preview">CH.Tiedemann@gmx.de</span>
      <i class="icon ion-ios-arrow-right"></i>
    </a>
  </li>
  <li>
    <a class="item btn btn-error btn-block icon-left" href="#">
      <i class="icon ion-ios-close-outline"></i>
      Ausloggen
    </a>
  </li>
</ul>



<ul class="list">
  <li>
    <a class="item header">
      Einstellungen
    </a>
  </li>
  <li>
    <a class="item">
      ...
    </a>
  </li>
